{% import_yaml 'jetty/defaults.yaml' as defaults %}
{% import_yaml 'jetty/osmap.yaml' as osmap %}

{# get the settings for the os_family grain #}
{% set osfam = salt['grains.filter_by'](osmap) or {} %}

{# merge the os family/codename specific data over the defaults #}
{% do defaults.jetty.update(osfam) %}

{# merge the pillar:lookup dict into the defaults/os specific dict #}
{% set lookup = salt['pillar.get']('jetty:lookup',
                                   default=defaults.jetty,
                                   merge=True) %}

{# merge the actual jetty pillar into the above combined dict #}
{% set jetty = salt['pillar.get']('jetty', default=lookup, merge=True) %}

{% set os_family = salt['grains.get']('os_family') %}

{% macro sls_block(dict) %}
{% for key, value in dict.items() %}
- {{ key }}: {{ value|json() }}
{% endfor %}
{% endmacro %}
